* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* NAVBAR TENGAH */
.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 30px;
    width: 1500px;
    
}

/* Bentuk capsule */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    padding: 30px 150px;
    border-radius: 40px;
    justify-content: center;
    font-size: 30px;
}

/* Link */
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    font-weight: bold;
}

/* Hover */
.navbar ul li a:hover {
    color: #ffe4ec;
}

nav a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 8px 12px;
    transition: 0.3s;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.hero {
    position: relative;
    background-color: #e96a8d;
    padding: 120px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 35px;
    letter-spacing: 1px;
}



.profile-img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    margin-bottom: 25px;
    margin-top: 30px;
}



/* BODY */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff0f6;
    color: #333;
    line-height: 1.6;
}


/* HEADER */
header {
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    padding: 50px 0 0px 0;
    text-align: center;
}

header h1 {
    font-size: 32px;
    margin-top: 15px;
}

header p {
    font-size: 18px;
    opacity: 0.9;
}

/* FOTO PROFIL */
.profile-img {
    width: 400px !important;
    height: 400px !important;
    border-radius: 50%;
    object-fit: cover; 
    border: 4px solid white;
}

/* CARD SECTION */
.card {
    background-color: white;
    max-width: 1500px;
    margin: 30px auto;
    padding:150px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    font-size: 25px;
}

.card .intro {
   font-size: 25px;
   margin-top: 30px;
}



/* JUDUL */
h2 {
    color: #ff5f9e;
    margin-bottom: 15px;
}

/* LIST */
ul {
    margin-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

/* BUTTON */
button {
    margin-top: 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    background-color: #ff5f9e;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff3f8b;
    transform: scale(1.05);
}

html {
    scroll-behavior: smooth;
}

.skill-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* ubah jadi kiri */
}


.skill-list li {
    background-color: #f58fae;
    color: white;
    width: 180px;          /* ukuran sama */
    height: 250px;          /* tinggi sama */
    display: flex;
    align-items: center;   /* tengah vertikal */
    justify-content: center; /* tengah horizontal */
    border-radius: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.skill-list li:hover {
    background-color: #e96a8d;
    transform: scale(1.05);
}



